.container {
  text-align: center;
}
.box {
  margin-top: 150px;
  border: black solid 2px;
  width: 400px;
  height: 400px;
  display: inline-block;
  background-color: rgb(234, 225, 238);
}
.subbox {
  padding-top: 30px;
  border: black solid 2px;
  width: 350px;
  height: 70px;
  display: inline-block;
  background-color: wheat;
}
button {
  width: 300px;
}
p {
  font-size: larger;
  padding-top: 60px;
  height: 85px;
  width: 350px;
  display: inline-block;
  border: black solid 2px;
  background-color: wheat;
}
body {
  background-image: url(../img/Kata.jpg);
}
